<p id="notice"><%= notice %></p>

<p>
  <strong>Designer:</strong>
  <%= @procedure.designer %>
</p>

<p>
  <strong>Hair length:</strong>
  <%= @procedure.hair_length_id %>
</p>

<p>
  <strong>Hair category:</strong>
  <%= @procedure.hair_category_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @procedure.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @procedure.subtitle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @procedure.content %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
